<style>
  button{
    margin-top: 10px;
  }
  .jaula{
    overflow: auto;
    height: 400px;
  }
</style>
<div class="jaula">
  <h4>Listado</h4>
  <div class="contenido">
    <ul class="list-group">
      <li
      *ngFor="let personaje of listaPersonajes"
      class="list-group-item">
        {{personaje.nombre}} ({{personaje.id}})- FUERZA: {{personaje.fuerza}} <button style="width: 70px;height: 25px;font-size: 10px;" class="btn btn-danger" (click)="deletePersonaje(personaje.id)">Eliminar</button>
      </li>
    </ul>
  </div>
</div>
